@model ViewModel.Catalog.Company.CompanyInformationViewModel
@{
    ViewData["Title"] = "Company Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        setTimeout(function () {
            $('msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}

<div class="container-fluid">
    <h1 class="mt-4">Account List</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home Page</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Account">Account List</a></li>
        <li class="breadcrumb-item active">Company Information</li>
    </ol>


    <h2>Information</h2>

    <div class="card-body">
        <div class="row">
            @if (ViewBag.SuccessMsg != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMsg
                </div>
            }
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Worker Number</th>
                        <th>Contact Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.CompanyId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.WorkerNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ContactName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.PhoneNumber)
                        </td>

                        <td>
                            @Html.ActionLink("Update Information", "UpdateCompanyInformation", new { id = Model.CompanyId }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>


    <h2>Branch</h2>
    <div class="col-md-6 col-xs-12">
        <a class="btn btn-success" asp-action="CreateBranch" asp-controller="Company" asp-route-id="@Model.CompanyId">Create New Branch</a>
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th>Id</th>
                        <th>Address</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CompanyBranches)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>

                            <td>
                                @Html.ActionLink("Update", "UpdateBranch", new { id = item.Id, companyId = Model.CompanyId }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Delete", "DeleteBranch", new { id = item.Id, companyId = Model.CompanyId }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>



    <h2>Avatar</h2>

    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th>Id</th>
                        <th>Image</th>
                        <th>Caption</th>
                        <th>File Size</th>
                        <th>Date Created</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.CompanyAvatar.Id)
                        </td>
                        <td>
                            <img src="https://localhost:5001/Avatars/@Model.CompanyAvatar.ImagePath" asp-append-version="true" height="50rem" width="50rem" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.CompanyAvatar.Caption)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.CompanyAvatar.FileSize)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.CompanyAvatar.DateCreated)
                        </td>
                        <td>
                            @Html.ActionLink("Update", "UpdateCompanyAvatar", new { id = Model.CompanyAvatar.Id, companyId = Model.CompanyId }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
    <h2>Cover Image</h2>
    @if (Model.CompanyCoverImage == null)
    {
        <div class="col-md-6 col-xs-12">
            <a class="btn btn-success" asp-action="CreateCompanyCoverImage" asp-controller="Company" asp-route-id="@Model.CompanyId">Create Cover Image</a>
        </div>
    }
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th>Id</th>
                        <th>Image</th>
                        <th>Caption</th>
                        <th>File Size</th>
                        <th>Date Created</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.CompanyCoverImage != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Model.CompanyCoverImage.Id)
                            </td>
                            <td>
                                <img src="https://localhost:5001/CoverImages/@Model.CompanyCoverImage.ImagePath" asp-append-version="true" height="50rem" width="50rem" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.CompanyCoverImage.Caption)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.CompanyCoverImage.FileSize)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.CompanyCoverImage.DateCreated)
                            </td>
                            <td>
                                @Html.ActionLink("Update", "UpdateCompanyCoverImage", new { id = Model.CompanyCoverImage.Id, companyId = Model.CompanyId }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Delete", "DeleteCompanyCoverImage", new { id = Model.CompanyCoverImage.Id, companyId = Model.CompanyId }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>

    </div>


    <h2>Images</h2>

    <div class="col-md-6 col-xs-12">
        <a class="btn btn-success" asp-action="CreateCompanyImages" asp-controller="Company" asp-route-id="@Model.CompanyId">Create Images</a>
    </div>

    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th>Id</th>
                        <th>Image</th>
                        <th>Caption</th>
                        <th>File Size</th>
                        <th>Date Created</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.CompanyCoverImage != null)
                    {
                        foreach (var item in Model.CompanyImages)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    <img src="https://localhost:5001/Images/@item.ImagePath" asp-append-version="true" height="50rem" width="50rem" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Caption)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FileSize)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateCreated)
                                </td>
                                <td>
                                    @Html.ActionLink("Update", "UpdateCompanyImages", new { id = item.Id, companyId = Model.CompanyId }, new { @class = "btn btn-primary" })
                                    @Html.ActionLink("Delete", "DeleteCompanyImages", new { id = item.Id, companyId = Model.CompanyId }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }

                    }


                </tbody>
            </table>
        </div>

    </div>



</div>
